
<div class="modal-header">
  <h4 class="modal-title">СИГНАЛ ЗА НАРУШЕНИЕ - {{violationOptions[data[1].violation] | uppercase}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="passBack()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="img-field">
    <ng-container *ngIf="!!data[1].images">
      <a *ngFor="let img of data[1].images" href="{{img}}" target="_blank" rel="noopener noreferrer">
        <img src={{img}} alt="picture">
      </a>
    </ng-container>
    <ng-container *ngIf="!data[1].images">
      <img src="../../../assets/images/no-image.jpg" alt="picture">
    </ng-container>
  </div>
  <div class="information">
    <table>
      <tbody>
        <tr>
          <td>Област</td>
          <td>{{data[1].district || "-"}}</td>
        </tr>
        <tr>
          <td>Община</td>
          <td>{{data[1].municipality || "-"}}</td>
        </tr>
        <tr>
          <td>Землище</td>
          <td>{{data[1].land || "-"}}</td>
        </tr>
        <tr>
          <td>Описание</td>
          <td>{{data[1].description || "-"}}</td>
        </tr>
        <tr>
          <td>Подаден на</td>
          <td>{{data[1].createdAt}}</td>
        </tr>
        <tr *ngIf="data[1].updatedAt !== data[1].createdAt">
          <td>Редактиран на</td>
          <td >{{data[1].updatedAt}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-container *ngIf="isLoggedIn">
    <div class="access" *ngIf="isAuthor">
      <button (click)="onEdit(data)">Edit</button>
      <button (click)="onDelete(data[0])">Delete</button>
    </div>
    <!-- <p>{{data | json}}</p> -->

  </ng-container>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="passBack()">Close</button>
</div>
