<form [formGroup]="form" (ngSubmit)="onRegister()">

  <div class="register-panel">
    <h3>Register</h3>
    <div class="input-field">
      <input type="text" name="firstName" placeholder="First Name" 
      formControlName="firstName"
        required />
    </div>
    <ng-container *ngIf="form.get('firstName')?.touched">
      <p class="error" *ngIf="form.get('firstName')?.errors?.['required']">
        First name is required!
      </p>
    </ng-container>
    <div class="input-field">
      <input type="text" name="lastName"  placeholder="Last Name" 
      formControlName="lastName"
        required />
    </div>
    <ng-container *ngIf="form.get('lastName')?.touched">
      <p class="error" *ngIf="form.get('lastName')?.errors?.['required']">
        Last name is required!
      </p>
    </ng-container>
    <div class="input-field">
      <input type="text" name="phone"  placeholder="+359..." 
      formControlName="phone"
        required />
    </div>
    <ng-container *ngIf="form.get('phone')?.touched">
      <p class="error" *ngIf="form.get('phone')?.errors?.['required']">
        Phone is required!
      </p>
    </ng-container>
    <div class="input-field">
      <input type="email" name="email" placeholder="Email" 
      formControlName="email" required />
    </div>
    <ng-container *ngIf="form.get('email')?.touched">
      <p class="error" *ngIf="form.get('email')?.errors?.['required']">
        Email is required!
      </p>
      <p class="error" *ngIf="form.get('email')?.errors?.['pattern']">
        Email is invalid!
      </p>
    </ng-container>
    <ng-container formGroupName="passwordsGroup">
      <div class="input-field">
        <input type="password" name="password" placeholder="Password" 
        formControlName="password" required
          autocomplete="on" 
          />
      </div>
      <ng-container *ngIf="form.get('passwordsGroup')?.get('password')?.touched">
        <p class="error" *ngIf="form.get('passwordsGroup')?.get('password')?.errors?.['required']">
          Password is required!
        </p>
        <p class="error" *ngIf="form.get('passwordsGroup')?.get('password')?.errors?.['minlength']">
          Password must be at least {{form.get('passwordsGroup')?.get('password')?.errors?.['minlength']["requiredLength"]}} characters!
        </p>
        <!-- {{form.get('passwordsGroup')?.get('password')?.errors | json}} -->
      </ng-container>
      <div class="input-field">
        <input type="password" name="rePassword" placeholder="Repeat password" 
        formControlName="rePassword" 
          autocomplete="on" 
          />
      </div>
      <ng-container *ngIf="form.get('passwordsGroup')?.get('rePassword')?.touched">
       <p class="error" *ngIf="form.get('passwordsGroup')?.errors?.['matchPasswordsValidator']">
          Repeat Password does not match password!
        </p>
      </ng-container>
    </ng-container>
    <div class="button-field">
      <button type="submit" [style]="{ backgroundColor: form.invalid ? 'grey' : 'brown' }" [disabled]="form.invalid">
        Sign Up
      </button>
    </div>
  </div>
  <div class="redirectToLogin">
    <span>Already have an account?
      <span class="redirect" routerLink="/auth/login">Log In</span></span>
  </div>

</form>