.error-message {
    position: fixed;
    z-index: 110;
    left: 25%;
    right: 25%;
    top: 8%;
    padding: 0.5em;
    border-radius: 0.5em;
    color: rgb(255, 255, 255);
    font-style: italic;
    text-decoration: underline;
    box-shadow: 0 2px 5px rgb(204, 204, 204);
    background-color: rgba(238, 74, 74, 0.6);
}

.error-delete {
    display: block;
    background-color: brown;
    color: white;
    cursor: pointer;
    padding: 3px;
    position: absolute;
    top: 2px;
    right: 2px;
    border-radius: 50%;
}

.error-delete i {
    display: block;
}

.error-message {
    -moz-animation: cssAnimation 0s ease-in 10s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 10s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 10s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 10s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes cssAnimation {
    to {
        width: 0;
        height: 0;
        overflow: hidden;
        padding: 0;
    }
}

.timer {
    display: block;
    margin: 2px 0;
    height: 2px;
    background-color: rgb(255, 0, 0);
    animation: collapse ease-in 10s forwards;  
}

@keyframes collapse {  
    from { width: 0%; }
    to { width: 100%; }
}
