<header>

    <div class="logo">
        <a routerLink="/">
            <img src="../../../assets/images/logo.png" alt="png">
        </a>
        <h1>Timber Observer</h1>
    </div>
    <app-error/>
    <nav>
        <div class="nav-icon-links">
            <ng-container *ngIf="isLoggedIn">
                <a routerLink="/auth/profile"><i class="fa-solid fa-user"></i>{{userFullName}}'s profile<i class="fa fa-circle flash"></i></a>
                <a routerLink="/auth/logout"><i class="fa-solid fa-user-slash"></i>Logout</a>
            </ng-container>
            <ng-container *ngIf="!isLoggedIn">
                <a routerLink="/auth/login"><i class="fa-solid fa-user-check"></i>Login</a>
                <a routerLink="/auth/register"><i class="fa-solid fa-user-pen"></i>Register</a>
            </ng-container>
        </div>
        <div class="nav-links">
            <a routerLink="/">HOME</a>
            <a routerLink="/observer">OBSERVER</a>
            <a *ngIf="isLoggedIn" routerLink="/reports/report/create">REPORT</a>
        </div>
    </nav>
</header>