<header>

    <div class="logo">
        <a routerLink="/">
            <img src="../../../assets/images/logo.png" alt="png">
        </a>
        <h1>Горски наблюдател</h1>
    </div>
    <nav>
        <div class="nav-icon-links">
            <a routerLink="/my-observer">
                <p><i class="fa-solid fa-magnifying-glass"></i>Моят наблюдател</p>
            </a>
            <a routerLink="/auth/login">
                <p><i class="fa-regular fa-user"></i>Влез</p>
            </a>
            <a routerLink="/auth/register">
                <p><i class="fa-regular fa-user"></i>Регистрация</p>
            </a>
            <a routerLink="/auth/logout">
                <p><i class="fa-regular fa-user"></i>Излез</p>
            </a>
        </div>
        <div class="nav-links">
            <a routerLink="/">Начало</a>
            <a routerLink="/observer">Наблюдател</a>
            <a routerLink="/report">Подай сигнал</a>
        </div>
    </nav>
</header>