header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    padding: 0.8em 2em;
    background-color: chocolate;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.5);
}

.logo {
    width: 50%;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-start;
    gap:10px;
}

.logo img {
    width: 40px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo > a {
    display: block;
    width: 40px;
    aspect-ratio: 1;
    position: relative;
    color: initial;
    text-decoration: none;
}

.logo h1 {
    width: 70%;
    flex-grow: 1;
    text-align: left;
    margin: 0;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 1.5em;
}

.nav-icon-links {
    display: flex;
    text-align: center;
    gap: 1em;
    font-size: 0.9em;
}

.nav-icon-links a,
.nav-links a {
    display: block;
    color: initial;
    text-decoration: none;
    padding: 2px 6px;
}

.nav-icon-links a:hover,
.nav-links a:hover {
    background-color:goldenrod ;
}

.nav-icon-links i {
    display: block;
    margin-top: 2px;
    font-weight: bold;
}
