.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px
}

.img-field {
    width: 100%;
    max-height: 200px;
    overflow: auto;
    display: flex;
    gap: 5px;
}

.img-field > a {
    width: 20%;
    flex-grow: 1;
    aspect-ratio: 1;
}

.img-field > a > img {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    aspect-ratio: 1;
}

.cubage {
    width: 100%;
}

.cubage table {
    border: 2px solid #4F7849;
    background-color: #FFFFFF;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
  }
  .cubage table td, table th {
    border: 1px solid #4F7849;
    padding: 3px 3px;
  }
  .cubage table tbody td {
    font-size: 11px;
    font-weight: bold;
    color: #4F7849;
  }
  .cubage table tr:nth-child(even) {
    background: #CEE0CC;
  }
  .cubage table thead {
    background: #4F7849;
  }
  .cubage table thead th {
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
  }
  .cubage table tfoot {
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    background: #4F7849;
    border-top: 1px solid #444444;
  }
  .cubage table tfoot td {
    font-size: 12px;
  }

  .information {
    width: 100%;
}

.information table {
  width: 100%;
  font-size: 12px;
  font-weight: bold;
}

.information table tbody tr > td{
  border: 2px solid #4F7849;
  background-color: white;
  color: #4F7849;
  text-align: center;
  border-collapse: collapse;
}


.information table tbody tr > td:first-child {
  width: 30%;
  font-size: 11px;
  font-weight: bold;
  background-color: #4F7849;
  color: #FFFFFF;

}

.information table tbody > tr:last-child > td:first-child {
  border-bottom: 2px solid #4F7849;
}

.information table tr:nth-child(even) > td:last-child {
  background: #CEE0CC;
}



